body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Montserrat", sans-serif;
  color: #22343d;
}

body {
  background-color: #6accba;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.app {
  background-color: #ffffff;
  width: 320px;
  height: 568px;
  box-shadow: 10px 10px 42px 0px rgb(124, 148, 156);
  justify-content: space-evenly;
  margin: 10px auto;
}

header {
  width: 320px;
  height: 65px;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  padding: 20px 1em 0 1em;
  margin-top: 10px;
  margin-left: 50px;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 90%;
  height: 60%;
  margin: 20px;
  position: static;
  font-weight: bold;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  font-size: 20px;
  padding: 15px 0;
  margin-bottom: 20px;
  margin-right: 20px;
  color:#3f6072;
  font-weight: bold;

}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
}

.answer-button {
  width: 100%;
  font-size: 16px;
  font-weight: bolder;
  color: #6accba;
  background-color: #ffffff;
  border-radius: 80px;
  display: flex;
  padding: 10px 10px;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #e4eaee;
  cursor: pointer;
  margin-bottom: 5px;
}

.answer-button:active {
  background-color: #6accba;
  color: #ffffff;
}

.answer-button-span {
  margin-left: 5px;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: bolder;
  color: #6accba;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border: 3px solid #e4eaee;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}


button:focus {
  background-color: #6accba;
  color: #ffffff;
}

.progress-container {
  height: 3px;
  width: 100%;
  background: #ffffff;
}

.progress-container .progress {
  height: 100%;
  width: 0%;
  border-radius: 0.4rem;
  background: #6accba;
  transition: width 0.4s ease;
}

.next-button {
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  background-color: #6accba;
  border-radius: 15px;
  display: flex;
  padding: 10px 30px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #e4eaee;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  width: 300px;
  height: 72px;
  top: 460px;
  margin-left: -10px;
}
